main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

section {
  margin-bottom: 160px;
}

.first-section {
  width: 70%;
  display: flex;
  margin-top: 80px;
}

.home1-img {
  height: 580px;
  /* height: 100%; */
}

.home-header-container {
  margin: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 48px 0;
  /* align-items: center; */
  /* justify-content: center; */
}

.home-h1 {
  font-size: 56px;
  font-weight: 700;
  margin: 0;
}

.home-h2 {
  font-size: 28px;
  font-weight: 500;
}

.home-buttons-container {
  display: flex;
  gap: 24px;
}

.companies-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.second-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-img {
  height: 32px;
  object-fit: cover;
  filter: contrast(0%) brightness(100%) saturate(0%);
}

.companies-header {
  font-size: 18px;
  color: gray;
}
