header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.links-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.link-container {
  display: flex;
  gap: 24px;
}

.navbar-link {
  text-decoration: none;
  color: black;
  display: flex;
}

.bag-icon {
  height: 32px;
  align-self: center;
}

.active {
  text-decoration: underline;
  text-decoration-color: #C027D3;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}
