.featured-products-list{
  display: flex;
  gap: 2.4rem;
  list-style: none;
  min-width: 100rem;
}

.featured-headings-container{
  margin-bottom: 8rem;
}
/*
.featured-products-container {
  } */

  .products-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}


@media (max-width: 800px) {
  .featured-products-list {
    min-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
