
.skills-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}


.skill-item {
  display: flex;
  flex-direction: column;
  width: 28rem;
}

.skill-header {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.skill-detail {
  font-size: 1.5rem;
  line-height: 3.2rem;
}

.skill-icon {
  border-radius: 50%;
}

.skill-icon-container {
  margin-bottom: 2rem;
}
