.services-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8rem;
}

.service-details {
  display: flex;
  gap: 1.6rem;
}

.service-heading {
  line-height: 3rem;
  font-size: 2.2rem;
  margin-bottom: 1.6rem;
}

.service-paragraph {
  font-size: 2rem;
  line-height: 4rem;
}

@media (max-width: 800px) {
  .service-heading {
    font-size: 1.8rem;
  }

  .service-paragraph{
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}
