* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 1 rem = 16px  */
html {
  font-size: 62.5%;
  /* sad je 1 rem = 10px */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(237, 237, 237);
  color: #404040;
}
