.product-card-container {
  height: 320px;
  width: 400px;
  transition: all 0.3s ease;
}

.product-card-container:hover {
  transform: translateY(-8px);
  transition: all 0.3s ease;
}

.product-card-image {
  height: 80%;
  object-fit: cover;
  border-radius: 8px;

  width: 100%;
}

.product-name {
  font-size: 2rem;
  font-weight: 600;
}

.product-name-price-container {
  display: flex;
  justify-content: space-between;
}

.product-price {
  font-size: 2rem;
  font-weight: 600;
  color: #C027D3;
}
