aside > h3 {
  font-size: 1.6rem;
}

.product-search-input {
  border-radius: 8px;
  height: 3.6rem;
  padding-left: .8rem;
  background-color: #FDF4FF;
  width: 12rem;
  font-size: 1.6rem;
  border: 1px solid #c027d3;
}

.category-list {
  list-style-type: none;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}


.category-list > li {
  margin-bottom: 0.8rem;
}

.color-list {
  list-style-type: none;
  display: flex;
  gap: .8rem;
  margin-bottom: 2rem;
}

li {
  cursor: pointer;
}

.manufacturer-select {
  border-color: #c027d3;
  border-radius: 8px;
  height: 3.6rem;
  padding-left: .8rem;
  background-color: #FDF4FF;
  width: 12rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.color-black {
  background-color: black;
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
}

.color-red {
  background-color: red;
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
}
.color-green {
  background-color: green;
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
}
.color-blue {
  background-color: blue;
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
}
.color-yellow {
  background-color: yellow;
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
}

.sidebar-checkbox-container {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2rem;
}

.sidebar-checkbox-container > h3 {
  font-size: 1.6rem;
}

.clear-filters-btn {
  background-color: rgb(255, 45, 45);
  color: white;
  font-weight: 600;
  padding: .8rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.range-input {
  cursor: pointer;
}
